@font-face
	font-family: 'tahoma-reg'
	src: url('../fonts/tahoma.ttf') format('ttf')

@font-face
	font-family: 'raleway-grid'
	src: url('../fonts/RalewayBold.woff') format('woff')
	font-weight: bold

@font-face
	font-family: 'raleway-grid'
	src: url('../fonts/RalewayExtraBold.woff') format('woff')
	font-weight: 800

@font-face
	font-family: 'intro-grid'
	src: url('../fonts/IntroRegular.woff') format('woff')


